.canvas {
  border: 1px black dotted;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 20%;
  right: 0px;
}

.function-bar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-color: black;
  color: white;
  width: 30%;
  height: 1000px;
  padding: 10%;
}

.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2%;
  row-gap: 4%;
  /* width: 100px;
  height: 100px; */
}

#canvas-draft {
  background-color: transparent;
}
body {
  overflow: hidden;
  float: left;
}
#canvas-container {
  height: 720px;
}
